<!DOCTYPE html>
<html>
    <body>
        <div>
            <span>
                Dear {{.Name}},<br><br> You have successfully registered.
            </span>
            <p>Please login with below User Name & Password</p>
        </div>
        <!-- <br> -->
        <table>
            <tr>
                <td><b>User Name:</b></td>
                <td>{{.Email}}</td>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td>{{.Password}}</td>
            </tr>
        </table>
        <p>Regards,</p>
        <p>Registrar</p>
    </body>
</html>